/* styles.css */

body {
    background-image: url('./seamless-wood-background-1.jpg');
    background-repeat: repeat;
    font-family: 'Helvetica', sans-serif;
    margin: 30px;
    background-color: rgb(101,67,33);
    background-blend-mode: multiply;
}

.container {
    display: grid;
    grid-template-areas:
    "header"
    "content";
}

.deskbackground {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
    background-color: teal;
    color: white;
}

.content {
    grid-area: content;
    background-color: white;
}

.stationary {
    background-color: #ffffff;
    transform: rotate(350deg);
    width: 50%;
    height: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
    box-shadow:
            0px 4px 6px rgba(0, 0, 0, 0.1),
            4px 4px 0px rgba(0, 0, 0, 0.1),
            4px 8px 6px rgba(0, 0, 0, 0.1);
}


.envelope {
background: #4AB4DE;
    width: 500px;
    height: 300px;
    position: relative;
    margin: 200px;
}

.letter {
    background: #f0f0f0;
    margin: 10px;
}
